html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
  padding: 0;

}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #6f6d08;
  background: #171518;
  overflow: hidden;
}
.title{
font-size: 80%;
}
	
.horizontal-line{
  border-top: 1px solid #6f6d08;
  margin-top:7px;
  margin-bottom:7px;
  
}

.bottomSection{ /* The height of this section is determined dynamically*/}
#synthContainer { overflow-y: scroll;}



.topSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    height:100%;
    }

.left-section {
    height:100%;
    padding: 5px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.center-section {
    height:100%;
    padding: 5px;
    border-left: 1px solid #6f6d08;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 10 1 auto;
    -ms-flex: 10 1 auto;
    flex: 10 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
	
    }

.right-section {
    
    height:100%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.note-duration-buttons {
color: #FFF;
    text-decoration: none;
      cursor:pointer;

    font-size:85%;
    text-align: justify;
    margin: 0 auto;
    border: solid 1px #6f6d08;
    background: #000000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 4px 2px #040303;
    -moz-box-shadow: 0px 4px 2px #040303;
    box-shadow: 0px 4px 2px #040303;
}

.note-duration-buttons:hover,
.note-duration-buttons-selected {
    color: #f00;
    text-decoration: none;
    margin: 0 auto;
    cursor:pointer;

    border: solid 1px #ffb000;
    background: #000000;
    text-align: justify;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 4px 2px #1f0000;
    -moz-box-shadow: 0px 4px 2px #1f0000;
    box-shadow: 0px 4px 2px #1f0000;
    font-weight: 800;
    font-size: 85%;
}




.note-duration-buttons:focus, .note-duration-buttons.focus, .note-duration-buttons-selected:focus, .note-duration-buttons-selected.focus {
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !importamt; 
}





#keyboard-container {
  max-height: 260px;
   height: 100%; 
  background: #170e01;
  margin: 30px auto 0 auto;
  border-bottom: 3px solid #170e01;
}

#keyboard-container li {
  height: 100%;
  float: left;
  list-style-type: none;
  position: relative;
}

.key_white {
  width: 100%;
  height: 100%;
  float: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  position: relative;
  z-index: 1;
  background: #f5f5f5;
  border-top: 3px solid #170e01;
  border-right: 1px solid #170e01;
  color: black;
  font-size: 75%;
  text-align: center;
  padding: 15% 50% 0 0;
  
}

.key_white.active {
  box-shadow: -1px 0 5px rgba(0, 0, 0, .7) inset;
}

.key_black {
  position: absolute;
  z-index: 2;
  width: 60%;
  
  right: -35%;
  background:#111;
  border-width:0px 2px 7px;
  border-style:solid;
  border-color:#666 #222 #111 #333;
  box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 0px 1px rgba(0,0,0,0.4);
  border-radius:0 0 2px 2px;
  color: #fff;
  font-size: 75%;
  text-align: center;
  padding: 5px 0;
}

.key_black.active {
  /*box-shadow: 1px 0 #777, 0 2px 0 #777, 0 2px 0 #666, 0 2px 0 #555;*/
  border-bottom-width:2px;
	
  -webkit-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  -moz-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
}
/*
 * Buttons
 * 
 * */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 20px;
  padding: 4px;
  transition: all 60ms ease-in-out;
  text-align: center;
  text-decoration: none !important;
  font-size: 75%;
  font-weight: 500;
  box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.1);
}
.button:hover {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  opacity: .85;
}
.button:active {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  opacity: .75;
}
.button:focus {
  outline: none;
  
}
.button.-salmon {
	background: #6f6d08;
    color: #f0f0d0;
    border:none;
    text-shadow: 0 0 1px rgba(0,0,0,.7);  
}



/*
 * 
 * 
 * lOADING
 * 
 * */

/*
 * 
 * 
 * loader
 * 
 * */
.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #171518;
  cursor: move;
  user-select:none;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #d77840;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}	



/*
	*
 *
 * The snackbar -
 *
 * position it at the bottom and in
 *
 * the middle of the screen */

#toast {
  visibility: hidden;
  min-width: 250px;
  background-color: rgba(0,0,0,0.9);
  color: #f0f0d0;
  border-radius: 2px;
  padding: 10px 25px;
  position: absolute;
  z-index: 1000;
  margin: auto;
width: 30%;
left: 0;
right: 0;
bottom:0;
  font-size: 90%;
}

#toast h1 {
  font-size: 1.5em;
  border-bottom: 1px solid #555;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 7.5s, fadeout 3.5s;
  animation: fadein 7.5s, fadeout 3.5s;
}

@-webkit-keyframes fadein {
  from {
    
    opacity: 0;
  }
  to {
    
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    
    opacity: 0;
  }
  to {
    
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    
    opacity: 1;
  }
  to {
    
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    
    opacity: 1;
  }
  to {
    
    opacity: 0;
  }
}


.highlightPlayedKey{
      background:red;
      border-top: 2px solid red;
}

.Dropdown-root {
    position: relative;
    background: #6f6d08;
color: #f0f0d0;

font-size: 75%;
max-width: 150px;

}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    
    border: solid 1px #6f6d08;
    background: #000000;
    box-shadow: 0px 2px 1px #040303;
    color: #f0f0d0;
    cursor: default;
    outline: none;
    padding: 5px 10px 4px 10px;
    transition: all 200ms ease;
}

.Dropdown-arrow {
	border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 10px;
    width: 0;
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent #fff;
    border-width: 0 5px 5px;
}

.Dropdown-title{
color: #fff;
font-weight: bold;
padding: 10px;
text-transform: capitalize;
border-bottom: 1px solid red;
}


.Dropdown-menu {
    background: #665b04;
    color: #fff;
    border: 1px solid #353009;
    box-shadow: 0 1px 0 rgba(0,0,0,0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.Dropdown-option {
    box-sizing: border-box;
    color: rgba(251,251,251,0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.Dropdown-option:hover {
  background-color: #554b00;
  color: #eee;
}

.Dropdown-option.is-selected {
  background-color: #554b00;
  color: #eee;
}


#notation{
padding: 15px;
background: #111;
color: #fff;
font-size: 120%;
overflow-x: none; 
overflow-y: auto; 
white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;

}
